body {
    background-color: rgb(85, 85, 81);
}

button {
    height: 25;
    width: 72;
}

#risu {
    height: 30px;
    width: 294px;
    margin: 3px;
    text-align: right;
    background-color: rgb(137, 250, 212);
    border-radius: 5px;
}

button {
    background-color: rgb(172, 170, 170);
    border-radius: 3px;
}

button:hover {
    background-color: rgb(223, 223, 211);
}

#corpoCalc {
    width: 307px;
    height: 220px;
    border: 4px solid;
    background-color: rgb(141, 141, 235);
    border-radius: 9px;
    padding: 2px;
}

#logo {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 13px;
}